[submodule "vim/vimfiles/bundle/molokai"]
	path = vim/vimfiles/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "vim/vimfiles/bundle/pathogen"]
	path = vim/vimfiles/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vimfiles/bundle/rainbow_parentheses"]
	path = vim/vimfiles/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/vimfiles/bundle/surround"]
	path = vim/vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfiles/bundle/repeat"]
	path = vim/vimfiles/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/vagrant"]
	path = vim/vimfiles/bundle/vagrant
	url = https://github.com/pavel-v-chernykh/vim-vagrant.git
[submodule "vim/vimfiles/bundle/vim-coffee-script"]
	path = vim/vimfiles/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vimfiles/bundle/vim-less"]
	path = vim/vimfiles/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vimfiles/bundle/vim-markdown"]
	path = vim/vimfiles/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
